@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');

body {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #0E211E;
  color: #EAC968;
  text-align: center;
}

.deheader {
  width: 100%;
  height: 300px;
  object-fit: fill;
  background-color: #436356;
}

.middle {
  text-align: center;
  background-color: #172F2F;
  color: #EAC968;
}

.creator {
  width: 300px;
  background-color: #163E3A;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px 200px;
  gap: 50%;
  background-color: #0E211E;
  padding: 10px;
  height: 200px;
  position: absolute;
  left: 20%;
  right: 40%;
}

.grid-container > div {
  background-color: #EAC968;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  word-break: break-all;
  height: 188px;
  font-size: 27px;
  line-height: 6.5;
}

.vraag1 {
  text-align: center;
  padding: 35px;
  border: #EAC968;
  background-color: #172F2F;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  list-style-type: none;
  background-color: #436356;
  z-index: 1;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  background-color: #0E211E;
  transition: all 0.2s ease-in-out;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  color: #EAC968;
}

li:hover {
  background-color: #163E3A;
}
